## IRR Score
Scores inter-rater reliability for annotated training data

In [1]:
import simpledorff
import pandas as pd

Import labels (4 annotators) and drop empty rows (sentences not annotated)
- SL labeled 402
- LH, EM, DB labeled 125

In [2]:
df = pd.read_csv('../data/ner_annotate.csv')
df = df.dropna(subset=['text_referencing_dataset_4'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 2055
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   paper_id                    125 non-null    object
 1   paper_title                 125 non-null    object
 2   paper_section               118 non-null    object
 3   source                      125 non-null    object
 4   sentence_id                 125 non-null    int64
 5   sentence_text               125 non-null    object
 6   text_referencing_dataset_1  125 non-null    object
 7   labeler_1                   125 non-null    object
 8   notes_1                     17 non-null     object
 9   contains_dataset_1          125 non-null    object
 10  text_referencing_dataset_2  125 non-null    object
 11  labeler_2                   125 non-null    object
 12  notes_2                     24 non-null     object
 13  contains_dataset_2          125 non-null    object
 14  text_referencing_dataset_3  125 non-null    object
 15  labeler_3                   125 non-null    object
 16  notes_3                     25 non-null     object
 17  contains_dataset_3          125 non-null    object
 18  text_referencing_dataset_4  125 non-null    object
 19  labeler_4                   125 non-null    object
 20  notes_4                     8 non-null      object
 21  contains_dataset_4          125 non-null    object
 22  agree_labels                125 non-null    bool
dtypes: bool(1), int64(1), object(21)
memory usage: 22.6+ KB

Dataframe wide to long
- combine `labler_1` through `labeler_4` to single col
- combine `text_referencing_dataset_1` through `text_referencing_dataset_4` to single col

In [3]:
df = df.reset_index()
df = pd.melt(df, id_vars=['paper_id', 'sentence_id'], value_vars=['text_referencing_dataset_1', 
                                            'text_referencing_dataset_2', 
                                            'text_referencing_dataset_3', 
                                            'text_referencing_dataset_4'])

df['combo_id'] = df['paper_id'].astype(str) + '.' + df['sentence_id'].astype(str)
df

,paper_id,sentence_id,variable,value,combo_id
0,22f04ef5-6bf1-4221-ae9c-b60ee9847590,9,text_referencing_dataset_1,none,22f04ef5-6bf1-4221-ae9c-b60ee9847590.9
1,c5991999-d7bf-4dba-a6b5-d961a2540db2,11,text_referencing_dataset_1,none,c5991999-d7bf-4dba-a6b5-d961a2540db2.11
2,f1bcf379-29a5-41d5-bf08-6087560be3ac,18,text_referencing_dataset_1,none,f1bcf379-29a5-41d5-bf08-6087560be3ac.18
3,38c10b03-3356-404e-a321-d8301cd0ec4c,6,text_referencing_dataset_1,none,38c10b03-3356-404e-a321-d8301cd0ec4c.6
4,c36d60e3-05f3-4da5-8e85-1e31767d0cf5,28,text_referencing_dataset_1,none,c36d60e3-05f3-4da5-8e85-1e31767d0cf5.28
...,...,...,...,...,...
495,70f4c55e-347a-433a-a89b-335163191505,13,text_referencing_dataset_4,LEMAS-BWCS,70f4c55e-347a-433a-a89b-335163191505.13
496,cc9f13cb-1a5b-4b07-a097-fce2188c355b,5,text_referencing_dataset_4,ECLS-K,cc9f13cb-1a5b-4b07-a097-fce2188c355b.5
497,3f4495ac-1734-4610-9754-bab0d926a516,6,text_referencing_dataset_4,UCR,3f4495ac-1734-4610-9754-bab0d926a516.6
498,0a2b8819-7258-4b60-b999-ed73621380bb,2,text_referencing_dataset_4,UCR,0a2b8819-7258-4b60-b999-ed73621380bb.2
499,2d4dde0d-9630-4d3f-a391-cefa2bacc9c8,21,text_referencing_dataset_4,HSIS,2d4dde0d-9630-4d3f-a391-cefa2bacc9c8.21

In [4]:
simpledorff.calculate_krippendorffs_alpha_for_df(df, 
                                                 experiment_col='combo_id',
                                                 annotator_col='variable',
                                                 class_col='value')

0.8655845030421212